/* @import 'reset.css'; */

body {
    background: radial-gradient( #FBF2EB, #352A3B);
}
.section {
}
.container {
    width: 1260px;
    margin: 0 auto;
}
.header__content {
    display: flex;
}
.header__img {
    width: 100%;
    margin-top: 50px;
}
.header__text {
    margin-left: 30px;
}
.header__title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
}
.header__list {
    border: solid 1px grey;
    font-weight: normal;
    font-size: 18px;
    line-height: 175%;
}


.footer {
    position: absolute;
    bottom: 0;
}
.container {
}
.footer__content {
}
.footer__logo {
    width: 200px;
}